#nav-bar {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  font-family: $fanwoodText;
  color: whitesmoke;
  // background: $blackGradient;
  height: 7vh;
  width: 100%;
  position: fixed;
  padding: 1rem;
  background-color: rgba(25, 25, 25, 0.8);
    h2 {
      margin: 0px;
      font-size: 3rem;
      text-decoration: none;
      color: whitesmoke;

      &:hover {
        opacity: 0.6;
      }
    }
}

#nav-items {
  padding-right: 2.5rem;
  display: flex;
  width: 15%;
  justify-content: space-between;
}

#logo {
  &:active {
    transform: translateY(2px);
  }
}

.nav-item {
  &:hover {
    opacity: 0.6;
  }
  &:active {
    transform: translateY(2px);
  }
}